{% extends "navbar.html" %} {% block content %}
<div class="contact">
  <div class="contactUser">
  <img src="/static/images/johan.png" class="image2">
  <h3 class="contactText">Johan Nielsen - cxb802@alumni.ku.dk</h3>
  </div>
  <div class="informationUser">
    <h3 class="p">Johan Nielsen is a loving guy, who loves his wednesday, thursday and friday beer!</h3>
    </div>
  <div class="contactUser">
  <img src="/static/images/IMG_2884.JPG" class="image2">
  <h3 class="contactText">Jakob Ahlberg - wkg105@alumni.ku.dk</h3>
  </div>
  <div class="informationUser">
  <h3 class="p">Jakob Ahlberg is a pasionate guy, who also loves his wednesday, thursday and friday beer!</h3>
  </div>
</div>
{% endblock content %}
